.App {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.App-header {
  margin: 0 auto;
}

a {
  padding: 10px;
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.character {
  margin: 20px;
}

.food {
  margin: 20px;
}

form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.foods, .characters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.food, .character {
  margin: 10px;
  height: 180px;
  width: 180px;
  background-color: lightblue;
  border-radius: 10px;
}

.food:hover, .character:hover {
  background-color: rgb(181, 226, 240);
}

.food:active, .character:active {
  background-color: rgb(141, 214, 238);
}

.crud {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content:space-between;
  height: 200px;
  width: 200px;
}

button {
  color: maroon;
  background-color: pink;
  border: none;
  height: 25px;
  width: 200px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(255, 213, 218);
}

button:active {
  background-color: rgb(255, 160, 174);
}

.create, .edit, .delete {
  margin: 10px;
}

