@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&family=Yatra+One&display=swap');

body {
  margin: 50px;
  /* background-image: linear-gradient(rgb(255, 225, 160), rgb(255, 184, 91)); */
}

html {
  justify-content: center;
  align-items: center;
}

.App {
  font-family: 'Yatra One', cursive;
  font-size: 15px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-family: 'New Tegomin', serif;
  font-size: 45px;
}

p {
  font-family: 'Yatra One', cursive;
  font-size: 20px;
  margin: 0 auto;
}

.App-header {
  margin: 0 auto;
}

a {
  color: rgb(255, 183, 49);
  padding: 10px;
  text-decoration: none;
}

a:hover {
  color: rgb(255, 229, 111);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  font-family: 'Yatra One', cursive;
  font-size: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

form {
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
}

.foods, .characters {
  margin: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.food, .character {
  font-family: 'Yatra One', cursive;
  font-size: 20px;
  /* margin: 10px; */
  height: 180px;
  width: 180px;
  background-color: rgb(255, 208, 122);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.food:hover, .character:hover {
  background-color: rgb(255, 225, 144);
}

.food:active, .character:active {
  background-color: rgb(255, 198, 9);
}

.crud, .create, .edit, .delete {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.create, .edit, .delete {
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
}

button {
  font-family: 'Yatra One', cursive;
  font-size: 15px;
  color: maroon;
  background-color: rgb(255, 174, 98);
  border: none;
  height: 25px;
  width: 200px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(255, 204, 109);
}

button:active {
  background-color: rgb(206, 147, 79);
}

.create, .edit, .delete {
  margin: 10px;
}

input {
  margin: 5px;
  height: 25px;
  width: 180px;
  text-align: center;
}

h2 {
  margin: 0 auto;
}

