.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.feed {
  padding: 20px;
  flex-direction: column;
  align-items: center;
  background-color: lightblue;
  width: 500px;
  height: 800px;
}

.post {
  padding: 10px;
  margin: 0 auto;
  background-color: rgb(245, 245, 245);
  /* width: 480px; */
  /* height: 400px; */
}

.author {
  padding: 15px;
  background-color: rgb(255, 230, 233);
}

.comments {
  margin: 0 auto;
  padding: 0 10px 0 10px;
  background-color: bisque;
  /* width: 425px; */
  /* height: 80px; */
}

.profilePicture {
  margin-left: 20px;
  background-color: lightpink;
  width: 50px;
  height: 50px;
}

.postPicture {
  margin: 0 auto;
  background-color: lightgreen;
  /* width: 450px; */
  height: 250px;
}

p {
  background-color: white;
  padding: 5px;
  margin: 5px 0 5px 0;
  height: 50px;
  text-align: left;
}

h3 {
  text-align: left;
  margin: 10px;
}

button {
  margin: 5px;
}